<div class="container">

    <form #loginForm="ngForm" (ngSubmit)="submitBro(loginForm)">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input #email="ngModel" required type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" name="email" ngModel>
            <span style="color:red;font-weight: bolder;" *ngIf="email.invalid && email.touched"> *Enter valid
                Email</span>

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input #password="ngModel" required name="password" type="password" class="form-control"
                id="exampleInputPassword1" ngModel>
            <span style="color:red;font-weight: bolder;" *ngIf="password.invalid && password.touched"> *Enter valid
                Password</span>


        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>