<!-- <h3>Shaikh</h3>
<p>interpolation</p>
<h6>{{2+3}}</h6>
{{value}}

<input type="text" name="" id="" [value]="val">

<!-- style binding -->
<!-- <h3 [style.color]="isboolean?c1:c2">Data binding
</h3> -->

<!-- class binding -->
<!-- <p [class]="isSpecial?'para1':'para2' "> class binding</p> -->


<!-- attribute binding -->
<!-- <table border="solid 2px ">
    <tr>
        <th [attr.colspan]="colVal">RCB</th>
    </tr>
    <tr>
        <td>Virat</td>
        <td>ABD</td>
    </tr>
    <tr>
        <td>Maxi</td>
        <td>siraj</td>
    </tr>

</table>
<br>

<table border=" dotted 5px ">
    <tr>
        <th [attr.colspan]="colVal1">Bengaluru BULLS</th>
    </tr>
    <tr>
        <td>Pavan Sherawat</td>
        <td>mahendar Singh</td>
    </tr>
    <tr>
        <td> tanavar</td>
        <td>G.B more</td>
    </tr>

</table>
<br>
<button (click)="display()"> click macha</button> -->

<!-- two way binding -->
<!-- <input type="text" name="" id="" [(ngModel)]="displayResult">
<h3>{{displayResult}}</h3> -->
<!-- <app-login [vax lueChild]="val"></app-login> -->
<app-reg></app-reg>