<div class="container-fluid bg-primary">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="parent" href="#">Parent </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="child" href="#">Child</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>

<input type="text" [(ngModel)]="message">
<app-parent [child]="message"></app-parent>
<app-reactive-form></app-reactive-form>

<div [ngSwitch]="seletedCountry">
    <p *ngSwitchCase="'Ind'">India has been seleected</p>
    <p *ngSwitchCase="'karwar'"> karawar has been seleceted</p>
    <p *ngSwitchCase="'goa'">goa had been seleceted</p>
    <p *ngDefaultCase>invalid seleceted</p>
</div>